input[type=checkbox],
input[type=button],
#options input[type=checkbox] ~ label{
    cursor: pointer;
}

input[type=button] {
    border-radius: 5px;
    border-color: #aaaaaa;
}
input[type=button]:hover,
input[type=checkbox]:hover {
    border-color: #111111;
}

/** options **/
#options {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    opacity: 0;
    transition: all .1s;
}

#options.show {
    opacity: 1;
}

#options #pulsoidHintToken,
#options #pulsoidHintJson {
    font-size: 10px;
    text-align: center;
}

#options #bgColor div:first-child > span,
#options #color div:first-child > span {
    float: right;
}

#options .text {
    line-height: 40px;
}
#options .text > div {
    line-height: initial;
}

#options .text label {
    display: inline-block;
    width: 180px;
}
#options .text input[type=text] {
    width: 320px;
}

#options .text input[type=button] {
    padding: 6px 16px 6px;
    position: relative;
}

#options textarea {
    width: 99%;
    height: 50px;
    resize: none;
}