#counterSection {
  background-color: var(--background);
  position: absolute;
  height: $counterSectionHeight;
  width: $counterSectionWidth;
  bottom: var(--margin);
  left: 50%;
  margin-left: calc(-#{$counterSectionWidth} / 2);
  transition: 1s all;
  border-radius: var(--radius);

  > .ears {
    position: absolute;
    width: $counterSectionWidth;
    transition: 1s all;

    &#fullCombo {
      text-align: center;
    }

    &#ranked {
      padding-left: 20px;
    }

    &#stars {
      padding-right: 20px;
      text-align: right;
    }

    > div {
      background-color: var(--background);
      margin: 0 auto;
      display: inline-block;
      padding: 5px;
    }
  }

  &.heartRate {
    width: calc($counterSectionWidth + $heartRateWidth);
    margin-left: calc(-#{$counterSectionWidth + $heartRateWidth} / 2);

    > .ears {
      width: calc($counterSectionWidth + $heartRateWidth);
    }
  }

  &.inactive {
    bottom: -150px;
  }

  > div {
    float: left;
  }

  .holders {
    width: 230px;

    .line {

      &:first-child {
        line-height: 19px;
        height: 21px;
      }

      margin: 8px 0;
      font-size: 17px;
      line-height: 19px;
      text-align: center;

      #score {
        font-size: 24px;
      }

      > div {
        display: inline-block;
        width: 90px;
        font-size: 14px;

        > span {
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  .barHolder {
    width: 90px;

    > #rank {
      position: absolute;
      /*line-height: 25px;*/
      line-height: 90px;
      text-align: center;
      font-size: 58px;
      width: 90px;
      opacity: .3;
      font-weight: 100;

      &.acc_ss {
        font-size: 46px;
      }

      &.acc_sss {
        font-size: 36px;
      }
    }
  }

  .progressInfo {
    position: absolute;
    font-size: 14px;
    text-align: center;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &:not(.flip) {
    .ears {
      margin-top: -29px;
      > div {
        border-radius: var(--radius) var(--radius) 0 0;
      }
    }
  }

  &.flip {
    bottom: inherit;
    top: var(--margin);

    &.inactive {
      top: -150px;
    }

    .ears {
      margin-top: $counterSectionHeight;
      > div {
        border-radius: 0 0 var(--radius) var(--radius);
      }
    }
  }
}