@mixin modifierBar {
  position: absolute;
  text-align: right;
  font-size: 14px;
  transition: 1s all;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  right: 5px;

  &.inactive {
    right: -250px;
  }

  > div {
    background-color: var(--background);
    padding: 5px;
    width: fit-content;
    display: none;

    &.active {
      display: block;
    }
  }

  &:not(.flip) {
    > div {
      border-radius: var(--radius) 0 0 var(--radius);

      &.first {
        border-top-right-radius: var(--radius);
      }

      &.last {
        border-bottom-right-radius: var(--radius);
      }
    }
  }

  &.flip {
    right: inherit;
    left: 5px;
    align-items: flex-start;

    &.inactive {
      left: -250px;
    }

    > div {
      border-radius: 0 var(--radius) var(--radius) 0;

      &.first {
        border-top-left-radius: var(--radius);
      }

      &.last {
        border-bottom-left-radius: var(--radius);
      }
    }
  }
}

#practice {
  top: 200px;
  @include modifierBar;
}

#modifiers {
  bottom: 200px;
  @include modifierBar;
}